{% extends 'layout.twig' %}

{% block body %}
	<h1 style="text-align:center">Gestion produits</h1>
	<hr/>
	{# <form method="post" action="http://localhost:3000/users/addUser">
	     <table>
	        <tr>
	            <td><label for="username">Username</label></td>
	            <td><input type="text" name="username" id="username" /></td>
	        </tr>
	        <tr>
	           <td><label for="email">Email</label></td>
	            <td><input type="text" name="email" id="email" /></td>
	        </tr>
	        <tr>
	            <td></td>
	            <td><input type="submit" value="ajouter" /></td>
	        </tr>
	    </table>
	  </form> #}
	<a href="http://localhost:3000/products/addProduct">
		Ajouter un produit</a>
    <h1>Liste des produits</h1> <br>

	<table
		border="1">
		{# <tr>
		 <a href="http://localhost:3000/users/search"> Gerer user</a> 
		</tr>  #}
		<tr>
			<td>Libelle
			</td>
			<td>price
			</td>
			<td>description
			</td>
			<td>quantite
			</td>
			<td>Stock
			</td>
			<td>Supprimer
			</td>
			<td>Modifier
			</td>
		</tr>

		{% for product in products %}
			<tr>
				<td>{{product.Libelle}}</td>
				<td>{{product.Prix}}</td>
				<td>{{product.Description}}</td>
				<td>{{product.Quantite }}</td>
				<td>{{product.Quantite > 0 ? "dans le stock" : "En rupture de stock"}}</td>
				<td>
					<a href="http://localhost:3000/products/delete/{{product._id}}">Supprimer</a>
				</td>
				<td>
					<a href="http://localhost:3000/products/edit/{{product._id}}">Modifier</a>
				</td>


			</tr>
		{% endfor %}
	</table>
{% endblock %}
